.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: rgb(0, 0, 0);
  background-size: cover;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 70%;
  height: 100%;
  object-fit: cover;
}
.caption {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgb(27, 26, 26);
  background: linear-gradient(
    0deg,
    rgba(27, 26, 26, 0.9920343137254902) 38%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  height: 35%;
  width: 70%;
  bottom: 0%;
  z-index: 10;
}
.caption h3{
  padding: 2vw;

}
.button {
  display: inline-flex;
  height: 35px;
  width: 110px;
  border: 2px solid #bfc0c0;
  padding: 5px;
  color: #bfc0c0;
  text-decoration: none;
  font-size: 0.8em;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
#carouselButton {
  position: absolute;
  right: 4%;
  bottom: 18%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(48, 47, 47);
}

#carouselButton .link {
  position: relative;
  text-decoration: none;
  transition: all 0.35s ease-Out;
  color: white;
}
#carouselButton i {
  margin-left: 5px;
  font-size: 1.5em;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #bfc0c0;
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#carouselButton:hover #slide {
  left: 0;
}

#carouselButton:hover .link {
  font-weight: bold;
  color: #2d3142;
}
