.swiper {
  position: relative;
  height: 94vh;
  width: 100vw;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: rgb(0, 0, 0);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.caption {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgb(27, 26, 26);
  background: linear-gradient(
    0deg,
    rgba(27, 26, 26, 0.9920343137254902) 38%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  height: 30%;
  width: 100%;
  bottom: 0%;
  z-index: 10;
}
.caption h3 {
  position: relative;
  left: 2vw;
  top: 8vh;
}
.buttons{
  position: absolute;
  bottom: 2vh;
  right:2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
}
